<dl>
	<dt>Definition List</dt>
	<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
	<dt>This is a term.</dt>
	<dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
	<dt>Here is another term.</dt>
	<dd>And it gets a definition too, which is this line.</dd>
	<dt>Here is term that shares a definition with the term below.</dt>
	<dd>And it gets a definition too, which is this line.</dd>
	<dt>Definition List Term</dt>
	<dd>This text has been marked up with the <code>&lt;dd&gt;</code> tag, which indicates the definition in a definition list. The definition is usually indented in the definition list.</dd>
	<dt>Startup</dt>
	<dd>A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.</dd>
	<dt>#dowork</dt>
	<dd>Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.</dd>
	<dt>Do It Live</dt>
	<dd>I’ll let Bill O’Reilly <a title="We'll Do It Live" href="https://www.youtube.com/watch?v=O_HyZ5aW76c">explain</a> this one.</dd>
</dl>
