/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

@mixin padded-text() {
  padding:$verticalBase/10 $horizontalBase/4;
  margin:$verticalBase*-1/10 0;
  background:$linkBgColor;
  border-radius: 3px;
}
@mixin no-padded-text() {
  padding:0;
  margin:0;
  background:transparent;
}

%underline-on-hover {
  text-decoration: none;

  &:active,&:hover,&:focus {
    text-decoration:underline;
  }
}
