<p class="main-font">This is the main font: 'Helvetica Neue', Helvetica, Arial, sans-serif</p>
<p class="heading-font">This is the heading font: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif</p>
