<p>Within a paragraph, <a href="#">this is a text link</a>. Here is some more text. There could be <a href="#">several</a> <a href="#">links</a> <a href="#">in</a> <a href="#">a</a> <a href="#">row</a>.</p>
