<p>Here is some keybord input with the kbd tag: <kbd>Cmd</kbd></p>
<p>Here is some sample output from a computer program with the <samp>&lt;samp&gt;</samp> tag.</p>
<p>Here is some inline code with the <code>&lt;code&gt;</code> tag.</p>
<p>Here is a variable with the <var>&lt;var&gt;</var> tag.</p>
