
		<div class="flex {{ flexType }}">
				<div class="imageholder">
					<div class="hostname">{{ hostname }}</div>
					{{> atoms-full }}
				</div>
			 <h2 class="headline">{{ headline.short }} .full</h2>
		</div>
