<div class="flex-container demo">
		<div class="flex full">
				{{> atoms-landscape-16x9 }}
			 <h2 class="headline">{{ headline.short }} .full</h2>
		</div>
    <div class="flex half">
			{{> atoms-landscape-16x9 }}
			<h2 class="headline">{{ headline.short }} .half</h2>
		</div>
    <div class="flex half">
			{{> atoms-landscape-16x9 }}
			<h2 class="headline">{{ headline.short }} .half</h2>
		</div>
    <div class="flex third">
			{{> atoms-landscape-16x9 }}
			<h2 class="headline">{{ headline.short }} .third</h2>
		</div>
    <div class="flex third">
			{{> atoms-landscape-16x9 }}
			<h2 class="headline">{{ headline.short }} .third</h2>
		</div>
    <div class="flex third">
			{{> atoms-landscape-16x9 }}
			<h2 class="headline">{{ headline.short }} .third</h2>
		</div>
</div>
