.flex-container.demo .flex{
	min-height: 100px;
}
.flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 10px 20px;
	.flex.full,
	.flex.half,
	.flex.third{
		box-sizing: border-box;
		flex: 1 0 calc(100% - 20px);
		.imageholder{
			position: relative;
			width: 100%;
			.hostname{
				position: absolute;
				bottom: 0;
				right: 0;
				color: $white;
				background-color: rgba(0,0,0,0.5);
				padding: 0 4px;
			}
			img{
				width: 100%;
				display: block;
			}
		}
	}
	.flex.full:first-child:before,
	.flex.half:first-child:before,
	.flex.third:first-child:before
	{
		content: "";
		display: block;
		height: 0px;
		width: 100%;
		margin: 0;
	}
	.flex.full:before,
	.flex.half:before,
	.flex.third:before{
		content: "";
		display: block;
		height: 2px;
		width: 100%;
		background: #eee;
		margin: 0 0 20px;
	}

	@media (min-width: 481px){
		.flex{
			margin: 0 20px 50px 20px;;
		}
		.flex.full{
			flex: 1 0 calc(100% - 40px);
		}
		.flex.half{
			flex: 1 0 calc(50% - 40px);
		}
		.flex.third{
			flex: 1 0 calc(33.33% - 40px);
		}
	}
}
